/*
INFO/CS 1300
Fall 2016
Nianze Liu
nl443
*/

html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #ffffff;
    font-family: Open+Sans, serif;
    font-size: 0.9em;
}

h2 {
    font-family: Noto+Serif, sans-serif;
    color: #ffb500;
}

p {
    font-size: 125%;
    color: #000000;
}

code {
    font-family: Courier, monospace; /* needed for Chrome */
}

caption {
    caption-side: bottom;
    margin-top: 1em;
}

#image {
    text-align: center;
}

#image img {
    display:block;
    margin:auto;
}

#banner {
    background-color: #ff8891;
    color: #ffffff;
    width: 100%;
}

#banner h1 {
    /* border: solid 1px white; */
    font-family: Open+Sans, serif;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    max-width: 960px;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#nav_bar {
    background-color: #ffb500;
    font-family: Noto+Serif, sans-serif;
    text-align: center;
    margin-right: auto;
    margin-bottom: 1em;
    margin-left: auto;
    max-width: 960px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#nav_bar a:link {
    color: #727272;
}

#nav_bar a:hover {
    color: #2c7bb6;
}

.nav_span {
    margin-right: 2em;
}

.nav_span a {
    text-decoration: none;
}

#content {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
}