/* 
* INFO/CS 1300
* Fall 2016
* supplemental styling for Week 7 lab 
*/

#button_container {
    text-align: center;
    margin-top: 1em;
}

#image_container {
    border: solid 1px rgba(184, 38, 1, 0.25);
    text-align: center;
    height: 431px;
    width: 782px;
}

button {
    width: 100px;
}
